<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Languages</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>SQL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
                        
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Scala</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar --> 

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

        </div>


        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Technologies</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Map Reduce</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
    
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Apache Spark</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>AWS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>TensorFlow</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Airflow</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>Amazon Sagemaker</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->

        </div>
        
        
        

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Tamil</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Hindi</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="https://drive.google.com/uc?export=download&id=0B7yxIDCnNWwfWEgtME9MUkdUVDA">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Early Career Recognition Award<span class="duration"><i class="fa fa-calendar color"></i> 2015 </span></h5>
                <h6><span class="fa fa-trophy"></span> Cisco Systems</h6>
                <p>Received the award for exceptional work ethic among the new hires.</p>
            </li>
            <li>
                <h5>Silver Medal <span class="duration"><i class="fa fa-calendar color"></i> 2014</span></h5>
                <h6><span class="fa fa-trophy"></span>Amrita University</h6>
                <p>Received for securing overall second place in the Computer Science department</p>
            </li>
  
        </ul>
        <!-- /.attributes -->

        <div class="title_content">
            <div class="text_content">Publications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Video Recommender in open/closed systems<span class="duration"><i class="fa fa-calendar color"></i>2014</span></h5>
                <h6><span class="fa  fa-book"></span> IJRET: International Journal of Research in Engineering and Technology </h6>
                <a href="http://esatjournals.net/ijret/2014v03/i19/IJRET20140319005.pdf"><p>Link for the paper</p></a>
            </li>
        </ul>
        <!-- /.attributes -->
        <div class="title_content">
            <div class="text_content">Certifications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Apache Spark™ for Machine Learning and Data Science<span class="duration"></h5>
                <h6><span class="fa  fa-certificate"></span>Databricks DB301</h6>
                <a href="https://academy.databricks.com/award/completion/ddb7d1a8-0542-301c-b8ca-1a97dfa1a782/preview"><p>See credential</p></a>
            </li>
        </ul>
        <!-- /.attributes -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Senior Software Engineer <span class="duration"><i class="fa fa-calendar color"></i> Feb 2018 - Present</span></h5>
                <h6><span class="fa fa-briefcase"></span> Nike, Oregon</h6>
                <li> <p>Responsible for building and delivering micro services backed by Machine Learning models to consumer 
                 facing Nike apps.</p></li>
                 <li><p>Built a cache service using in-memory data store and deployed it in AWS Elastic Cache.<p></li>
                 <li> <p>Developed Airflow operators to interact with Databricks API.</p></li>
                </li>
            <li class="first">
                <h5>Big Data Engineer Intern <span class="duration"><i class="fa fa-calendar color"></i> June 2017 - Aug 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> Nike, Oregon</h6>
                 <li> <p>Refactored and optimized the Nike product recommender Tensor flow model.</p></li>
                 <li><p>Won the 48-hour Intern Hackathon for developing an IOS app using AR to bring Nike’s stories and innovations using marker recognition and Unity.<p></li>
                 <li> <p>Created spark scripts to aggregate and process the clickstream data from Nike.com and build reports.</p></li>
            </li>
            <li>
                <h5>Research Assistant <span class="duration"><i class="fa fa-calendar color"></i> Mar 2017 - June 2017</span></h5>
                <h6><span class="fa fa-briefcase"></span> UCLA </h6>
                <li> <p>Developed experiments to explore wealth visibility in a setting of dynamic social network interactions using the breadboard framework.</p></li>
                 <li><p>Created chatbots in Facebook to automate survey responses<p></li>
            </li>
            <li>
                <h5>I.T Engineer  <span class="duration"><i class="fa fa-calendar color"></i> July 2014 - Aug 2016</span></h5>
                <h6><span class="fa fa-briefcase"></span> Cisco Systems, India </h6>
                <li> <p>· Designed and developed a tool called PDF extractor which creates and extracts information from structurally similar PDFs using Java and Hadoop Map Reduce.</p></li>
                 <li><p>Developed spark scripts for parallel processing to create a course recommendation tool.<p></li>
                 <li><p>Won Hack IT IV, 2014 (Cisco wide hackathon) for developing crime detection in ATMs.<p></li>
            </li>
            <li>
                <h5>Software Engineer Intern <span class="duration"><i class="fa fa-calendar color"></i> May 2013 - July 2013</span></h5>
                <h6><span class="fa fa-briefcase"></span> Tata Research, India </h6>
                <li> <p>Coded and deployed an android application called Pustack (interactive book) by integrating several APIs like Google maps, Google books and mediaWiki action.</p></li>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>MS In Computer Science <span class="duration"><i class="fa fa-calendar color"></i>Sept 2016 - Dec 2017</span></h5>
                <h6><span class="fa fa-book"></span>University of California, Los Angeles</h6>
                <p>Coursework: Cloud Computing, Large-Scale Data Mining, Distributed Database Systems, Statistics Programming, Graphs and Network Flows</p>
            </li>
            <li>
                <h5>Bachelor of Technology<span class="duration"><i class="fa fa-calendar color"></i> July 2010 - Aug 2014</span></h5>
                <h6><span class="fa fa-book"></span> Amrita School of Engineering, India</h6>
                <p>Coursework: Neural Networks, Soft computing, Data Mining.</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        


        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
   <!--      <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>-->
        <!-- /.title_content -->
        
<!--
        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>-->
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
