<!-- .portfolio -->
<div id="portfolio" class="content_2">
    
    <!-- .title -->
    <h1 class="h-bloc">Keychain Collection</h1>

    <p>“I have the habit of buying keychains when I visit a place. This is my collection after reaching USA.”</p>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="Cal Ore Wash">All</span></li>
            <li><span class="filter" data-filter="Cal">California</span></li>
            <li><span class="filter" data-filter="Ore">Oregon</span></li>
            <li><span class="filter" data-filter="Wash">Washington</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">


            <!-- .portfolio -->
            <div class="portfolio Wash" data-cat="Wash">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/TI7.jpg" alt="Dota2 TI7" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">TI7 Key Arena </a>
                                <span class="text-category">Seattle</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio Cal" data-cat="Cal">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                        <img src="images/keychains/getty.jpg" alt="Getty Center" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Getty Center</a>
                                <span class="text-category">Los Angeles</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio Wash" data-cat="Wash">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/factory.jpg" alt="Boeing Renton Factory" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Boeing Factory</a>
                                <span class="text-category">Renton</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio Cal" data-cat="Cal">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/hsign.jpg" alt="Hollywood Sign" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Hollywood Sign</a>
                                <span class="text-category">Los Angeles</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio Wash" data-cat="Wash">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/museumflight.jpg" alt="The Museum Of Flight" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Museum Of Flight</a>
                                <span class="text-category">Boeing Field</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio Cal" data-cat="Cal">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/6flags.jpg" alt="Six Flags Magic Mountain" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Six Flags Magic Mountain</a>
                                <span class="text-category">Santa Clarita</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio Ore" data-cat="Ore">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/Multnomah.jpg" alt="Multnomah Falls" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Multnomah Falls</a>
                                <span class="text-category">Columbia River Gauge</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio Cal" data-cat="Cal">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/yosemite.jpg" alt="Yosemite National Park" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Yosemite National Park</a>
                                <span class="text-category">California</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio Ore" data-cat="Ore">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/Imperial.jpg" alt="Imperial River Company" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Imperial River Company</a>
                                <span class="text-category">Maupin</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio Ore" data-cat="Ore">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/zoo.jpg" alt="Oregon Zoo" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Oregon Zoo</a>
                                <span class="text-category">Portland</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->
            <!-- .portfolio -->
            <div class="portfolio Wash" data-cat="Wash">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/spaceneedle.jpg" alt="Space Needle" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Space Needle</a>
                                <span class="text-category">Seattle</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio Cal" data-cat="Cal">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/griffith.jpg" alt="Griffith Observatory" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Griffith Observatory</a>
                                <span class="text-category">Los Angeles</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio Ore" data-cat="Ore">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/BigAls.jpg" alt="Big Al's" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Big Al's</a>
                                <span class="text-category">Portland</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio Cal" data-cat="Cal">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/bass.jpg" alt="Bass Lake" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bass Lake</a>
                                <span class="text-category">Madera County</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio Ore" data-cat="Ore">  
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">     
                        <img src="images/keychains/Vista.jpg" alt="Vista House" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Vista House</a>
                                <span class="text-category">Columbia River Gauge</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>      
            <!-- /.portfolio -->




            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->