<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile - About Me</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Chidambaram Muthappan</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Name</label>
                <span class="value">Chidambaram Muthappan</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date of birth</label>
                <span class="value">October 02, 1992</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">chidambaram70@gmail.com</span>
                <div class="clear"></div>
            </li>

        </ul>


    <!--    <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Curious student who likes to solve problems and talk to people about the solution. 
	    </p>-->
        
         <p style="margin-bottom:20px">      
            <ul><i class="fa fa-quote-left"></i> Data Engineering and Data Analytics/Data Science have always been viewed as separate profiles. I have industrial experience and academic knowledge in both the fields which helps me to view projects in an end to end perspective. I can manage and work on the entire data flow right from a record in a transactional db till it becomes an insight. I like to think myself as a Full stack engineer for Data Services. </ul>

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/slide1.jpg" alt="Hire" />
            <img src="images/img-profile/slide2.jpg" alt="Me" />
            <img src="images/img-profile/slide3.jpg" alt="Valve" />
        </div>

    </div>

</div>



<div class="clear"></div>
</div>
<!-- End .profile -->
